<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Page</title>
</head>
<body>

    <!-- 使用Post请求方式进行登录 -->
    <h1>发布会管理</h1>
    <form method="post" action="/login_action/">
        <input name="username" type="text" placeholder="username" ><br>
        <input name="password" type="password" placeholder="password"><br>
        {{error}}<br>
        <button id="btn" type="submit">登录</button>
        {% csrf_token %}
    </form>

    <!-- 使用Get请求方式进行登录 -->
    <!--<h1>发布会管理</h1>-->
    <!--<form method="get" action="/login_acthon/">-->
        <!--<input name="username" type="text" placeholder="username" ><br>-->
        <!--<input name="password" type="password" placeholder="password"><br>-->
        <!--<button id="btn" type="submit">登录</button>-->
    <!--</form>-->
</body>
</html>